.demo {
    font-family: sans-serif;
    border: 1px solid #eee;
    border-radius: 2px;
    padding: 20px 30px;
    margin-top: 1em;
    margin-bottom: 40px;
    user-select: none;
    overflow-x: auto;
  }

.red {
  color: red;
}

.blue {
  color: blue
}

.borderDotted {
  border-style: dotted;
  padding: 15px 15px 15px 15px;
}

.purple {
  color: purple
}

blockquote {
  color: darkslategrey;
  background-color: lightblue;
}

small {
  color: purple;
}